.projects-section {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.card-subtitle {
  color: #666666;
  font-size: 17px;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1em 1rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.397);
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 20rem;
  position: relative;
  overflow: hidden;
}

.project-card:hover .project-data {
  transform: translateY(0);
}

.project-img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.project-data {
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.55);
  transform: translateY(80%);
  padding: 1em;
}

.project-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-title-div {
  width: 100%;
  height: 25%;
}

.project-title {
  font-size: 1.2em;
  margin-block: 0px;
}

.project-description {
  flex-grow: 1;
}

.project-tag-div {
  background-color: #c3b5d0;
  color: #55198b;
  margin-top: 5px;
  margin-right: 11px;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  outline: none;
  font-size: 0.85rem;
  font-weight: bold;
  display: inline-flex;
}

.project-tagimg {
  margin: auto auto;
  outline: none;
  height: 12px;
}

.project-tag-div span {
  padding: 5.5px;
  align-self: center;
}

.project-links {
  margin-top: 1em;
}

span.project-link {
  background: #55198b;
  color: #f5f2f4;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin-right: 11px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s ease-in;
}
