.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.home-body {
  display: flex;
  flex-direction: column;
}

.fullname {
  text-transform: capitalize !important;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 4em;
  color: #333333;
  font-weight: bolder;
  margin: 0;
}

.tagline {
  text-transform: capitalize !important;
  font-family: 'Roboto', sans-serif;
  color: #c3b5d0;
  letter-spacing: 2px;
  font-size: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.interests {
  display: inline;
  font-size: 15px;
  margin-top: 10px;
}
