.fullname {
  text-transform: capitalize !important;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 4em;
  color: #333333;
  font-weight: bolder;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 3em;
  }
}

.tagline {
  text-transform: capitalize !important;
  font-family: 'Roboto', sans-serif;
  color: #c3b5d0;
  letter-spacing: 2px;
  font-size: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.interests {
  display: inline;
  font-size: 15px;
  margin-top: 10px;
}
